<div class = "event">
  <% @events.each do |x| %>
    <p id="name"><%= x.name %>
    <i class="fa-regular fa-bookmark"></i>
    <%= link_to "bookmark", event_bookmarks_path(x, @bookmark), data: {turbo_method: :post}%></p>
  <% end %>
</div>
