  <div class="row aboutpage">
    <div class="header">
      <h5>How it works</h5>
    </div>


    <div class="firststep col-12 animate__animated animate__fadeIn animate__delay-1s">
    <i class="fa-solid fa-person-circle-question"></i>

      <h6>Select your personality & mood!</h6>
      <p>When you first use quickstart, select your personality in the questionnaire. When you're up to do something else, just change your mood in the dropdown menu.</p>

    </div>



    <div class="city col-12 animate__animated animate__fadeIn animate__delay-2s">
    <i class="fa-solid fa-city"></i>

        <h6>Select your city!</h6>
        <p>Our algorithm suggests personalized recommendations based on your personality and mood.</p>

    </div>

    <div class="nextsteps col-12 animate__animated animate__fadeIn animate__delay-3s">
    <i class="fa-solid fa-person-hiking"></i>

        <h6>The next steps</h6>
        <p>Select and bookmark events that interest you. Access the external events' page and share your opinion through reviews and the forum. </p>

   </div>

  </div>
