
  <div class="row aboutpage">
    <div class="header">
      <h5>How it works</h5>
    </div>


    <div class="firststep col-12 animate__animated animate__fadeIn animate__delay-1s">
    <i class="fa-solid fa-person-circle-question"></i>

      <h6>Select your personality & mood!</h6>
      <p>When you first use quickstart, select your personality in the questionnaire. On other days, when you're up to do something else, just change your mood in the dropdown menu.</p>

    </div>



    <div class="city col-12 animate__animated animate__fadeIn animate__delay-2s">
    <i class="fa-solid fa-city"></i>

        <h6>Select your city!</h6>
        <p>Now choose your city that you want to explore! Our algorithm knows your personality and mood and will give you suggestions tailered to you.</p>

    </div>

    <div class="nextsteps col-12 animate__animated animate__fadeIn animate__delay-3s">
    <i class="fa-solid fa-person-hiking"></i>

        <h6>The next steps</h6>
        <p>Now it's up to you! Select events that you are interested in and add them to your bookmarks. From there you have access to the external events' portal. And if you liked the event, why not write a review to let others know your opinion? You can also use our forum for that. </p>

   </div>

  </div>
