<div class="bg-home">
  <div class="backgroundhome">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="landing" style="border-radius: 50%; margin: auto; height: 400px; text-align:center;">
      <br>

      <%= image_tag "logofinal.png", class: "logohome" %>
      <%= link_to new_user_session_path, class: "btn", style: "background:none" do%>
      <%= image_tag "logocropped2.png", class: "logohome2 animate__animated animate__infinite animate__pulse animate__delay-1s", style: "border-radius: 5px; box-shadow: 0 0 0 10px rgba(221, 195, 107, 0.6); background-clip: padding-box;" %>


      <% end %>


      <br>
      <br>
      <br>
      <br>

    </div>
    <br>
    <br>
    <br>
    <br>
        <br>
    <br>
    <br>
    <br>
   <div class="explanation">
    <p style="color: white; padding-left:10px; padding-right: 10px, text-align:center; font-size: 15px">Helping young travellers find their way around new cities through personalized recommendations</p>
    </div>
    <br>
    <br>
  </div>
</div>
