<br>
<br>
<br>
<br>
<br>
<br>
<div class = "landing" style="background-color: white; border-radius: 50%; align-items: center; margin: auto; height: 400px; text-align:center; vertical-align: middle; justify-content: space-between;">
<br>
  <%= image_tag "quickstart_logo.png", class: "logo" %>
  <h1 data-controller="typed"></h1>
  <%= link_to "Continue", new_user_session_path %>
</div>
