.title{
  color:white;
  size: 10vw;
  text-align: center;
}

.form-label, .form-check-label{
  color: white;
}

h2{
  color:white;
  text-align: center;
}

.btn{
  background-color: darkgoldenrod;
  border-radius: 5%;
}
