.form-label, .form-check-label{
  color: white;
}

h2{
  color:white;
  text-align: center;
}

.btn{
  background-color: #4c57af;
  border-radius: 5%;
}

.logohome2 {
  border: solid rgba(255, 255, 255, 0.143);
}

.explanation {
  padding-left: 10px;
  padding-right: 10px;
}

.pulsating-element {
  animation: pulse 1s infinite;
}
