.logo{
  width: 100px;
  //height: 50px;
  height:max-content;
  background-color: none !important;
}
.container-fluid{
  display: flex;
  justify-content: space-between;
  background:white;
}
.logout{
  color:red
}

.navbarrange {
  display: flex;
  justify-content: space-between;
}

.avatar {
  size: smaller;
}
